---
- name: Install mysql and python-mysqldb
  apt:
    name: "{{ item }}"
    update_cache: yes
    cache_valid_time: 3600
    state: present
  with_items:
    - python3-mysqldb
    - mysql-server
- name: Start up the mysql service
  ansible.builtin.service:
    name: mysql
    state: started
- name: Ensure mysql is enabled to run on startup
  ansible.builtin.service:
    name: mysql
    state: started
    enabled: true
- name: Update mysql root password for all root accounts
  community.mysql.mysql_user:
    name: root
    host: "{{ item }}"
    password: "{{ mysql_root_password }}"
    login_user: root
    login_password: "{{ mysql_root_password }}"
    check_implicit_admin: yes
    priv: "*.*:ALL,GRANT"
  with_items:
      - "{{ ansible_hostname }}"
      - 10.0.5.101
- name: Create a new database
  community.mysql.mysql_db:
    name: web_app
    state: present
    login_user: root
    login_password: "{{ mysql_root_password }}"
- name: Add sample data to database
  copy:
    src: dump.sql
    dest: /tmp/dump.sql
- name: Insert sample data into database
  mysql_db:
    name: web_app
    state: import
    target: /tmp/dump.sql
    login_user: root
    login_password: "{{ mysql_root_password }}"
