---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
- name: Install python3-pip package
  ansible.builtin.apt:
    name: python3-pip
    state: present
- name: Verify pip3 installation and version
  ansible.builtin.command:
    cmd: pip3 --version
  register: pip_version
  changed_when: false
  check_mode: false
- name: Print pip3 version
  ansible.builtin.debug:
    var: pip_version.stdout
- name: Ensure Apache is installed and up to date
  ansible.builtin.apt: name=apache2 state=latest
- name: Write the Apache config file
  ansible.builtin.copy:
    src: 000-default.conf
    dest: /etc/apache2/sites-available/000-default.conf
  notify:
  - restart apache2
- name: Apache must be running and enabled at boot
  ansible.builtin.service: name=apache2 state=started enabled=yes
- name: Disable mpm_event on Apache
  ansible.builtin.shell: "a2dismod mpm_event"
  notify:
  - restart apache2
- name: Enable cgi on Apache
  ansible.builtin.shell: "a2enmod mpm_prefork cgi"
  notify:
  - restart apache2
- name: Install pymysql module for index to use
  ansible.builtin.pip:
    name: pymysql
    executable: pip3
- name: Add in a test directory
  file:
    path: /var/www/test/
    state: directory
- name: Add in your index file
  ansible.builtin.copy:
    src: index.py
    dest: /var/www/test/index.py
    mode: 0755
  notify:
  - restart apache2

